# tiny-imagenet-200/test/images

# requirements.txt
# data
tiny-imagenet-200
*.zip
*.tar*

# outputs
plots/
metrics/
checkpoints/
*.json
*.png
*.jpg
*.svg

# env cruft
.DS_Store
__pycache__
.env

# local installs / images
Miniforge3-Linux-x86_64.sh
env/
my_pytorch.ext3

# local scratch scripts
torch-test.py
